@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BUTTON*/
.button{
    color: #fff;
    background-color: #FF6464;
    border-radius: 2px;
    display: inline-block;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
body{
    font-family: "Heebo";
    color: #21243D;
}
/*
  Обертка
*/
.wrapper{
    margin: 0 auto;
    width: 856px;
}
/* Float not */
.clearfix{
    clear: both;
}
/*
    Меню
*/
.header{
    overflow: hidden;
}
.header ul{
    list-style: none;
    margin: 27px 60px 27px 0;
    float: right;
}
.header li{
    float: left;
    margin-left: 32px;
}
.header a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
/*Block author*/
.author{
    margin-top: 128px;
    margin-bottom: 72px;
}
.author .wrapper{
    overflow: hidden;
}
.author__info{
    float: left;
    width: calc(100% - 243px);
    padding-right: 115px;
}
.author__title{
    font-size: 44px;
    font-weight: 700;
    line-height: 136%;
    margin-bottom: 40px;
}
.author__text{
    font-size: 16px;
    margin-bottom: 40px;
}
.author__avatar{
    float: right;
    width: 243px;
}
.author__avatar img{
    width: 100%;
    border-radius: 50%;
    box-shadow: -6px 6px 0px #EDF7FA; /* тень */
}
/*End author*/
/* POSTS */
.posts{
    margin-top: 72px;
    margin-bottom: 28px;
    background-color: #EDF7FA;
}
.posts__header{
    overflow: hidden;
    margin-bottom: 16px;

}
.posts__title{
    float: left;
    font-size: 22px;
}
.posts__header a{
    float: right;
    text-decoration: none;
    font-size: 16px;
    color: #00A8CC;
}
.posts .wrapper{
    padding-top: 20px;
    padding-bottom: 32px;
}
.posts__cards{
    overflow: hidden;
}
.posts__card{
    width: calc(50% - 10px);
    float: left;
    margin-right: 20px;
    background-color: #FFF;
    border-radius: 4px;
    padding: 24px;

}
.posts__card:last-child{
    margin-right: 0;
}
.posts__card-title{
    font-size: 24px;
    font-weight: 700;
}
.posts__data,
.posts__tags{
    float: left;
    font-size: 18px;
}

.posts__data{
    border-right: 1px solid #000;
    padding-right: 32px;
}
.posts__tags{
    margin-left: 32px;
}
.posts__card-info{
    margin-top: 24px;
}
.posts__card-text{
    margin-top: 20px;
}

/*End Postss*/
/*WORKS*/
.works{
    margin-top: 60px;
    margin-bottom: 140px;
}
.works__title{
    margin-bottom: 32px;
}
/*End*/